Checks: '-*,bugprone-*,performance-*,modernize-*,-modernize-use-trailing-return-type,readability-*,-readability-magic-numbers,-readability-identifier-length,misc-const-correctness'
WarningsAsErrors: '*'
HeaderFilterRegex: 'src[/\\]Pacman[/\\].*'
FormatStyle: file