Checks: '-*,bugprone-*,-bugprone-exception-escape,performance-*,modernize-*,-modernize-use-trailing-return-type,-modernize-use-nodiscard,readability-*,-readability-magic-numbers,-readability-identifier-length,-readability-uppercase-literal-suffix,misc-const-correctness,-clang-diagnostic-ignored-gch'               
WarningsAsErrors: '*'                                                                                                                                            
HeaderFilterRegex: 'src[/\\](Pacman|Game)[/\\].*'                                                                                                                
FormatStyle: file